.card{ 
    background-color: $card-color;
    color: $font-color;
    border-radius: 5px;
    padding: 10px;
    width: 25rem;


    .card__title{
        color: $font-color;
        font-size: 1.5rem;
        font-weight: bold;
        
        
    }
    .card__image  {
        width: 100%;

        object-fit: cover;
        border-radius: 5px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
        }
    }   
}