section {
    width: 100%;
    background-color: $section-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 200px 0;
    row-gap: 3rem;
    column-gap: 3rem;
    
}